body {
	color: var(--black-color);
	padding: 0;
	margin: 0;
	background: var(--white-color);
	overflow-x: auto;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Gilda Display', serif;
}

h1 {
	font-size: 55px;
	font-weight: 400;
	letter-spacing: 0.15em;
	line-height: 74.3px;
	font-family: 'Gilda Display', serif;
}

h2 {
	font-weight: 400;
	font-size: 45px;
	line-height: 56.3px;
	font-family: 'Gilda Display', serif;
}

h3 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 400;
	font-family: 'Gilda Display', serif;
}

h4 {
	font-size: 27px;
	line-height: 33.8px;
	font-weight: 500;
	font-family: 'Gilda Display', serif;
}

h5 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	font-family: 'Gilda Display', serif;
}

h6 {
	font-size: 18px;
	line-height: 23.4px;
	font-weight: 500;
	font-family: 'Gilda Display', serif;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
	margin: 0;
	color: var(--theme-color);
	font-family: 'Gilda Display', serif;
}
a:hover {
	text-decoration: none;
	color: var(--theme-color);
}
input:focus{
	color: var(--white-color);
}
p {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 0;
	color: var(--pragraph-color);
	font-family: 'Barlow', sans-serif;
}
.pt-120 {
	padding-top: 120px;
}
.pb-120 {
	padding-bottom: 120px;
}
.pt-80 {
	padding-top: 80px;
}
.pb-80 {
	padding-bottom: 80px;
}
.pb-7{
	padding-bottom: 7px;
}
.mb-30-none{
	margin-bottom: -25px;
}
.mb-30{
	margin-bottom: 25px;
}
/*-Responsive-*/
/*-Responsive-*/
@media screen and (max-width: 991px) {
	.pt-120 {
		padding-top: 80px;
	}
	.pb-120 {
		padding-bottom: 80px;
	}
	.pt-80 {
		padding-top: 60px;
	}
	.pb-80 {
		padding-bottom: 60px;
	}

	//fonts resiging
	h1 {
		font-size: 50px;
		line-height: 70.3px;
	}
	
	h2 {
		font-size: 40px;
		line-height: 50.3px;
	}
	
	h3 {
		font-size: 29px;
		line-height: 35px;
	}
	
	h4 {
		font-size: 24px;
		line-height: 30.8px;
	}
	
	h5 {
		font-size: 22px;
		line-height: 28px;
	}
	
	h6 {
		font-size: 18px;
		line-height: 23.4px;
	}
	//fonts resiging
}
@media screen and (max-width: 767px) {
	.pt-120 {
		padding-top: 70px;
	}
	.pb-120 {
		padding-bottom: 70px;
	}
	p{
		font-size: 16px;
		line-height: 25px;
	}
		//fonts resiging
		h1 {
			font-size: 40px;
			line-height: 50.3px;
		}
		
		h2 {
			font-size: 30px;
			line-height: 42.3px;
		}
		
		h3 {
			font-size: 26px;
			line-height: 30px;
		}
		
		h4 {
			font-size: 22px;
			line-height: 28.8px;
		}
		
		h5 {
			font-size: 20px;
			line-height: 26px;
		}
		
		h6 {
			font-size: 16px;
			line-height: 19.4px;
		}
		//fonts resiging
}
@media screen and (max-width: 575px) {
	.pt-120 {
		padding-top: 60px;
	}
	.pb-120 {
		padding-bottom: 60px;
	}
	.pt-80 {
		padding-top: 60px;
	}
	.pb-80 {
		padding-bottom: 60px;
	}
	p{
		font-size: 16px;
		line-height: 26px;
	}
	h2 {
		font-size: 28px;
		line-height: 40.3px;
	}
}
//page scroll bar add
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--ratting-color); 
	border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--ratting-color); 
	border-radius: 5px;
  }
//page scroll bar add
/*-Responsive-*/
/*-Responsive-*/
.text-base {
	color: var(--primary-color);
}
.text-base-2 {
	color: var(--secoundary-color);
}
.section-bg {
	background: var(--section-bg);
}
.bg-white {
	background: var(--white-color);
}
.center {
	text-align: center;
	margin: 0 auto;
}

.twitter{
	background: var(--secoundary-color) !important;
}
.twitch{
	background: rgb(110, 60, 210) !important;
}
.youtube{
	background: rgb(172, 46, 46) !important;
}
.insta{
	background: rgb(207, 93, 93) !important;
}
.lind{
	background: rgb(78 131 228) !important;
}
.face{
	background: rgb(27, 114, 244) !important;
}

/*--Section Header Start--*/
/*--Section Header Start--*/
.section-center {
	text-align: center;
	margin: 0 auto 50px;
}
.max-width1{
	max-width: 640px;
}
.max-width2{
	max-width: 820px;
}
.section-title-head{
	position: relative;
	.ratting{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		margin-bottom: 5px;
		span{
			i{
				color: var(--ratting-color);
				font-size: 20px;
			}
		}
	}
	h5{
		color: var(--button-color);
		text-transform: uppercase;
		margin-top: -8px;
		margin-bottom: 14px;
		letter-spacing: 2px;
		font-family: 'Barlow Condensed', sans-serif;
	}
	h2{
		color: var(--black-theme);
	}
	p{
		font-size: 18px;
		font-weight: 400;
		color: var(--pragraph-color);
	}
}
.black-theme{
	color: var(--black-theme) !important;
}
/*--Section Header End--*/
/*--Section Header End--*/
