


:root{
    --theme-color: #AA8453;
    --theme-one: #fa8fc1;
    --base-color: #2D325A;
    --bg-color: #F8F5F0;
    --primary-color: #231d70;
    --section-bg: #231d70;
    --button-color: #AA8453;
    --secoundary-color: #1e19cf;
    --white-color: #fff;
    --black-color: #000000;
    --calender: #191D23;
    --black-theme: #222222;
    --ratting-color: #E4A853;
    --pragraph-color: #666666;
    --border: #E4A853;
    --border-two: #BDBDBD;
    --cate-border: #E1CFB7;
    --placehol: #b0bcde;
}